@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@800&family=Montserrat:wght@500;600;700&family=Poppins:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* 
font-family: 'Heebo', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
 */
h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 36px;
  font-family: "Heebo", sans-serif;
}
p {
  font-size: 14px;
}

.wrapper {
  /* margin: 42px 56px auto 52px; */
  margin: 0 auto;
  margin-top: 42px;
  max-width: 1440px;
  height: auto;
  /* display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh; */
}
/* Header-comp */
header {
  display: flex;
  height: 52px;
}
.logo {
  flex: 1;
}
.nav {
  display: flex;
  align-self: center;
  width: 703px;
  height: 36px;
  justify-content: space-between;
}
.nav a {
  text-decoration: none;
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
}
/* .nav a:nth-child(1) {
  color: grey;
} */
/* Main-comp */
main {
  margin-top: 104px;
  margin-bottom: 200px;
}
/* Hero-Comp */
#hero-comp {
  height: auto;
  display: flex;
  flex-direction: column;
}
.hero-top {
  max-width: 543px;
  font-family: "Poppins", sans-serif;
  margin-left: 277px;
}
.hero-top h1,
h4 {
  font-weight: 500;
}
.hero-top h4 {
  color: #2d9cdb;
}
.hero-mid {
  display: flex;
  justify-content: flex-end;
  object-fit: contain;
}
.hero-img {
  margin-top: 42px;
  width: auto;
  height: 354px;
  border-radius: 18px;
}
.hero-bot {
  margin-top: 42px;
  margin-left: 277px;
  max-width: 366px;
  font-family: "Poppins", sans-serif;
}
.hero-bot h1 {
  font-weight: 500;
}
.hero-bot h4 {
  font-weight: 400;
  margin-top: 42px;
  color: #4f4f4f;
}
.hero-bot p {
  font-weight: 500;
  margin-top: 42px;
  color: #828282;
}
/*  */
.hero-form {
  margin-top: 9px;
  max-width: 350px;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 12px;
}
input {
  width: 100%;
  height: 57px;
  border: none;
  outline: none;
  background: none;
  margin-left: 20px;
}
input::placeholder {
  font-size: 18px;
  color: #bdbdbd;
  /* padding-left: 21px; */
}

.hero-button {
  width: 94px;
  height: 49px;
  border: none;
  border-radius: 12px;
  background: #2d9cdb;
  color: white;
  font-size: 18px;
  padding: 11px 28px 11px 27px;
}
/* Service Comp */
#service-comp {
  margin-top: 200px;
  font-family: "Poppins", sans-serif;
}
.service-title {
  max-width: 346px;
}
.service-title h2 {
  font-weight: 500;
}
/* Service Card Comp */
.card-cont {
  display: flex;
  flex-direction: row;
  height: 460px;
  justify-content: space-between;
}
/* cards */
.service-card {
  max-width: 341px;
  max-height: 460px;
  background-color: whitesmoke;
  padding: 46px 34px;
  border-radius: 24px;
  margin-top: 42px;
}
.service-card:hover {
  cursor: pointer;
  box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
}

.card-img1 {
  width: 67px;
  height: 67px;
  background-color: #2d9cdb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}
.card-img2 {
  width: 67px;
  height: 67px;
  background-color: #27ae60;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}
.card-img3 {
  width: 67px;
  height: 67px;
  background-color: #eb5757;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}
.fas {
  font-size: 1.7rem;
  color: white;
}
/* card-text */
.card-title {
  margin-top: 35px;
}
.card-title h3 {
  font-weight: 700;
}
.card-detail {
  margin-top: 24px;
  color: #4f4f4f;
}
.card-detail h5 {
  font-weight: 400;
}
.card-button {
  margin-top: 30px;
}
.card-button button {
  width: 116px;
  height: 42px;
  font-size: 16px;
  color: #828282;
  background: #e0e0e0;
  border-radius: 12px;
  border: none;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.card-button button:hover {
  background: #2d9cdb;
  color: white;
}
/* Work section */
#work-comp {
  margin-top: 194px;
}
.work-title {
  max-width: 448px;
}
.work-title h2 {
  font-weight: 500;
}
.work-card {
  margin-top: 12px;
}

/* Media Queries */
/* Large Desktop  */
@media only screen and (max-width: 1400px) {
  .wrapper{
    max-width: 1200px;
  }
/* Mobile  */
@media only screen and (max-width: 660px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 12px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 36px;
    font-family: "Heebo", sans-serif;
  }
  p {
    font-size: 14px;
  }

  .wrapper{
    margin: 13px 17px 10px 10px;
  }
  .nav{
    display: none;
  }
  main{
    margin-top: 66px;
  }
  #hero-comp{
    justify-content: center;

  }
  .hero-top{
    max-width: 272px;
    margin-left: 0;
    align-self: center;
  }
  .hero-mid{
    width: 404px;
    height: 145px;
    margin-top: 15px;
}
  .hero-mid img{
    width: 348px;
    height: 145px;
  }
  .hero-img {
    border-radius: 18px;
  }
  .hero-bot{
    margin-top: 22px;
    margin-left: 0;
    max-width: 291px;
    align-self: center;
  }

 
}